datasets
base58
nltk
numpy<2
langid
openai
peft
PyYAML
rank_bm25
rouge
spacy
tiktoken
torch
tqdm
transformers>=4.40.0
accelerate<1.0.0
scipy<1.15
bm25s[core]==0.2.1
fschat
streamlit
chonkie>=1.0.2, <1.1.0
gradio>=5.0.0
rouge-chinese
jieba
opencv-python-headless>=4.11.0,<4.12
